<%= form_with(model: xml_processing) do |form| %>
  <% if xml_processing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(xml_processing.errors.count, "error") %> prohibited this xml_processing from being saved:</h2>

      <ul>
        <% xml_processing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
