<h1>Editing xml processing</h1>

<%= render "form", xml_processing: @xml_processing %>

<br>

<div>
  <%= link_to "Show this xml processing", @xml_processing %> |
  <%= link_to "Back to xml processings", xml_processings_path %>
</div>
